body{
    background: #a79ee0;
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background:rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #e4e4e4;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}