body{
    background-color: lightblue;
}
.clock{
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
}
.clock span{
    padding: 20px;
    background-color:aliceblue;
}